    body { background-color: #EEEEEE; }

    hr { border-style:none; border-top-style: dotted ; border-color: cadetblue; border-width: 10px; width: 5%; }
h1 {color: #086972;} 
h2 {color: #086972;}
h3 {color: #086972;}
th {    color: #086972;}